<nav class="navbar navbar-expand-lg bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/bookings/getHotels">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/price/getRooms">Подбор отелей по цене</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/users/getActiveBookings">Личный кабинет</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/admin/getAdminAvailableBookings">Админ-панель</a>
            </li>
        </ul>
    </div>
</nav>
