<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
                <div class="justify-content-center">
                    <h1>Регистрация</h1>
                </div>
                <form th:action="@{/register/signUp}"
                      th:method="post"
                      th:object="${registerForm}"
                      class="m-md-auto w-50 pb-3">

                    <div class="mb-3">
                        <label class="form-label" for="firstName">First Name</label>
                        <input th:field="*{firstName}"
                               th:errorclass="is-invalid"
                               type="text"
                               class="form-control text-center"
                               id="firstName"/>
                        <small th:if="${#fields.hasErrors('firstName')}"
                               th:errors="*{firstName}"
                               class="text-danger">Error message</small>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="lastName">Last Name</label>
                        <input th:field="*{lastName}"
                               th:errorclass="is-invalid"
                               type="text"
                               class="form-control text-center"
                               id="lastName"/>
                        <small th:if="${#fields.hasErrors('lastName')}"
                               th:errors="*{lastName}"
                               class="text-danger">Error message</small>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="age">Age</label>
                        <input th:field="*{age}"
                               th:errorclass="is-invalid"
                               type="number"
                               min="18"
                               class="form-control text-center"
                               id="age"/>
                        <small th:if="${#fields.hasErrors('age')}"
                               th:errors="*{age}"
                               class="text-danger">Error message</small>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="userName">User Name</label>
                        <input th:field="*{userName}"
                               th:errorclass="is-invalid"
                               type="text"
                               class="form-control text-center"
                               id="userName"/>
                        <small th:if="${#fields.hasErrors('userName')}"
                               th:errors="*{userName}"
                               class="text-danger">Error message</small>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="password">Password</label>
                        <input th:field="*{password}"
                               th:errorclass="is-invalid"
                               type="password"
                               class="form-control text-center"
                               id="password"/>
                        <small th:if="${#fields.hasErrors('password')}"
                               th:errors="*{password}"
                               class="text-danger">Error message</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                </form>
                <button type="submit" class="btn btn-primary"
                        onclick="window.location.href='/login/'">Есть аккаунт? Войдите!</button>
                <br>
                <br>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>